body{background:#fff;width:600px;margin:auto;}

table {
width:400px;
    margin:25px;
	border-width: thin;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}

dev.pagination{	background-color: rgb(65, 118, 144);}

#sidebar a{color:rgb(244, 243, 121);}
a:link, a:visited { 
color: rgb(91, 128, 178);
text-decoration: none;
 }
 
table th {
	border-width: thin;
	padding: 4px;
	border-style: outset;
	border-color: gray;
	background-color: rgb(65, 118, 144);
	-moz-border-radius: ;
}
table td {
	border-width: thin;
	padding: 4px;
	border-style: outset;
	border-color: gray;
	-moz-border-radius: ;
}

.row1{background-color: rgb(250, 250, 250);}
.row2{background-color: rgb(210, 240, 230);}

#sidebar{width:150px;
    float:right;
    background: rgb(65, 118, 144);
	border-width: thin;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}
/*#sidebar a{color:#fff;}*/
#sidebar ul{margin:0;padding:0;width:100%;}
#sidebar li{list-style-type:none;margin:5px;width:100%;padding:0;display:block;}

/* Power state */
tr .on{background:#5f5;}
tr .off{background:#f55;}
tr .unknown{background:#ccc;}



#placeholder{float:right;}