{% extends "base.html" %}

{% load pagination_tags %}
{% block title %}About{% endblock title%}

{% block content %}
   <p>This inventory system was designed to keep track of the various physical and virtual systems (regardless of their current use)
   that are under the care of an organization. The system was made using the 
   <a href="http://en.wikipedia.org/wiki/Python_(programming_language)#Name_and_neologisms" target="_new">
   Pythonic</a> framework  
   <a href="https://www.djangoproject.com/" target="_new">Django</a>.
   </p> 
   <p>The system expects to be populated by some csv files (assumed to be <a href="http://technet.microsoft.com/en-us/library/bb978526.aspx" target="_new">PowerShell</a> exports from <a href="http://www.vmware.com/products/vsphere/mid-size-and-enterprise-business/overview.html" target="_new">VSphere</a>) 
   which are arranged as follows:</p>
   <ul>
     <li><strong>DataStore.csv</strong> <br/> Name,CapacityMB,FreeSpaceMB,FileSystemVersion</li>
     <li><strong>VMHost.csv</strong> <br/> Name,Manufacturer,Model,NumCpu,CpuTotalMhz,CpuUsageMhz,ProcessorType</li>
     <li><strong>VirtualMachine.csv</strong><br/>Name,PowerState,NumCpu,MemoryMB,Notes,VMHost,Datastore</li>
     <li><strong>IpAddress.csv</strong><br/>Name,ip</li>
   </ul>
   <p>These files are assumed to be kept in the data subfolder of django django project. The script that reads the data files is part of the 
   svn project, and is located in the scripts subfolder of the django project. Since the vsphere data is 'read-only': every time the script 
   runs, it resets the tables associated with vsphere objects and then repopulates them entirely. 
   </p>
{% endblock content%}