<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/site_media/style.css" type="text/css" />
    <title>{% block title %}Distributed Systems Inventory{% endblock %}</title>
</head>

<body>
<header><h1><a href="{% url homepage %}">Inventory</a></h1></header>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url about %}">about</a></li>
            <li><a href="{% url newServer %}">+ server</a></li>
        </ul>
        {% endblock sidebar%}
    </div>

    <div id="content">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% block content %}{% endblock content%}
    </div>
<footer>&copy; isc (information systems and computing)</footer>
</body>
</html>