{% extends "base.html" %}
{% block title %}DataStore Detail{% endblock title %}
{% block content %}

<h1>{{ dstore.name }}</h1>
<small>datastore</small>

<table>
<tr><th>Property</th><th>Value</th></tr>
<tr><td>Name</td><td>{{ dstore.name }}</td></tr>
<tr><td>Capacity</td><td>{{ dstore.capacityMB }} MB</td></tr>
<tr><td>Free Space</td><td>{{ dstore.freespaceMB }} MB</td></tr>
<tr><td>File System Version</td><td>{{ dstore.filesystemVersion }}</td></tr>
<tr><td>Virtual Machines</td>
    <td><ul>{% for vm in dstore.virtualmachine_set.all %}
        <li><a href="{% url  vm-detail vm.id%}">{{ vm.name }}</a></li>{% endfor %}</ul
	</td></tr>
<tr><td></td><td align="right"><small>Last modified ({{dstore.created|date:"Y:z g:i a"}})</small></td></tr>
</table>

{% endblock content %}