{% extends "base.html" %}

{% load pagination_tags %}
{% block title %}About{% endblock title%}

{% block content %}
   <p>This inventory system was designed to keep track of the various physical and virtual systems (regardless of their current use)
   that are under the care of an organization. The system was made using the 
   <a href="http://en.wikipedia.org/wiki/Python_(programming_language)#Name_and_neologisms" target="_new">
   Pythonic</a> framework  
   <a href="https://www.djangoproject.com/" target="_new">Django</a>. The system expects to be populated 
   by some csv files (assumed to be PowerShell exports from VSphere).</p>
{% endblock content%}