<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="/site_media/style.css" type="text/css" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Distributed Systems Inventory{% endblock %}</title>
</head>

<body>

<div id="container">
<header><h1><a href="{% url homepage %}">Inventory</a></h1></header>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url about %}">about</a></li>
            <li><a href="{% url newServer %}">+ server</a></li>
        </ul>
        {% endblock sidebar%}
    </div>

    <div id="content">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% block content %}{% endblock content%}
    </div>
<footer>&copy; isc (information systems and computing)</footer>
</div>
</body>
</html>