<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/site_media/style.css" type="text/css" />
    <title>{% block title %}Distributed Systems Inventory{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/admin/">admin</a></li>
        </ul>
        {% endblock sidebar%}
    </div>

    <div id="content">
        {% block content %}{% endblock content%}
    </div>
</body>
</html>