<html>
<head>
<title>VM Host Detail</title>
<link rel="stylesheet" href="/site_media/style.css" type="text/css" />
</head>
<html>
<body>
<h1>{{ object.name }}</h1>
<div id="chart_div"></div>
<table>
<a href="{% url homepage %}" >back to homepage</a>
<tr BGCOLOR="#cccccc"><td width="35%">Property</td><td>Value</td>
<tr><td>Name</td><td>{{ object.name }}</td></tr>
<tr><td>vendor</td><td><a href="{{object.manufacturer.website}}">{{ object.manufacturer }}</a></td></tr>
<tr><td>model</td><td>{{ object.model }}</td></tr>
<tr><td>cpuCount</td><td>{{ object.cpuCount }}</td></tr>
<tr><td>cpuTotal</td><td>{{ object.cpuTotal }}</td></tr>
<tr><td>cpuUsage</td><td>{{ object.cpuUsage }}</td></tr>
<tr><td>Virtual Machines</td>
    <td><ul>{% for vm in object.virtualmachine_set.all %}
        <li><a href="{% url  vm-detail vm.id%}">{{ vm.name }}</a></li>{% endfor %}</ul
	</td></tr>
<tr><td>processor</td><td>{{ object.processor}}</td></tr>
<tr><td></td><td align="right"><small>Last modified ({{object.created|date:"Y:z g:i a"}})</small></td></tr>
</table>
</body>
</html>