{% extends "base.html" %}

{% load pagination_tags %}
{% block title %}Virtual Machines{% endblock title%}

{% block content %}
 {% load pagination_tags %}
{% if server_list %}
    <h2>{{server_list|length}} Servers</h2>
    <table>
	<tr BGCOLOR="#cccccc"><td>Server Name</td><td>Memory MB</td><td>CPUs</td></tr>
    {% for object in server_list %}
        <tr class="{% cycle 'row1' 'row2' %}">
		  <td><a href="{% url server-detail object.id%}">{{ object.name }}</a></td>
		  <td>{{ object.capacityMB }}</td><td>{{ object.cpuCount }}</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <!-- <p>No Servers are available.</p>-->
{% endif %}

{% if vendor_list %}
    <h2>{{vendor_list|length}} Vendors</h2>
    <table>
	<tr BGCOLOR="#cccccc"><td>Vendor Name</td></tr>
    {% for object in vendor_list %}
        <tr class="{% cycle 'row1' 'row2' %}">
		  <td>
		  {% if object.website %}
			<a href="{{ object.website }}" target="new">{{ object.name }}</a>
		  {% else %}
		    {{ object.name }}
		  {% endif %}
		  </td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <!-- <p>No vendors are available.</p>-->
{% endif %}


{% if vm_list %}
    <h2>{{vm_list|length}} Virtual Machines</h2>
    {% autopaginate vm_list 5 %}
    <table>
	<tr BGCOLOR="#cccccc"><td>System Name</td><td>Memory MB</td><td>CPUs</td><td>Power State</td></tr>
    {% for object in vm_list %}
        <tr class="{% cycle 'row1' 'row2' %}">
		  <td><a href="{% url vm-detail object.id%}">{{ object.name }}</a></td>
		  <td>{{ object.memoryMB }}</td><td>{{ object.cpuCount }}</td>
		  <td class="{{ object.powerState|yesno:"on,off,unknown" }}"><!--{{object.powerState}}--></td>
		</tr>
    {% endfor %}
    </table>
    {% paginate %}
{% else %}
    <p>No Virtual Machines are available.</p>
{% endif %}

{% endblock content%}