<h1>{{ object.name }}</h1>
<table width="50%">
<a href="{% url homepage %}" >back to homepage</a>
<tr BGCOLOR="#cccccc"><td width="35%">Property</td><td>Value</td>
<tr><td>Virtual Center ID</td><td>{{ object.id }}</td></tr>
<tr><td>Name</td><td>{{ object.name }}</td></tr>
<tr><td>Powered ON</td><td>{{ object.powerState }}</td></tr>
<tr><td>CPU count</td><td>{{ object.cpuCount }}</td></tr>
<tr><td>MB of Memory</td><td>{{ object.memoryMB }}</td></tr>
<tr><td>Notes</td><td>{{ object.notes }}</td></tr>
<tr><td>IP</td><td>{{ object.ip.length }}</td></tr>
<tr><td>DataStore</td><td>{{ object.Datastore }}</td></tr>
</table>