/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

html {background: #444;}
body{ width:60em; margin:1em auto;background:#eee;box-shadow: 0 0 1em #000;-moz-border-radius: 35px;
 border-radius: 35px;}  
#container{padding: 2em;}

header{margin 2em o;border-bottom:1px dotted;padding-bottom:1em; text-align:center;}
header a{font-size:2em 0;padding:0.25em 0.5em;}
header a:hoover{background #ccc;border:0;}

table {
  width:50em;
  margin:25px;
	border-width: thin;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}
.errorlist{color:red;}

form p label{width:100px;display:block;float:left;}

#sidebar{width:150px;  
  float:right;
  background: rgb(65, 118, 144);
	border-width: thin;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}
#sidebar a{color:rgb(244, 243, 121);}
#sidebar ul{margin:0;padding:0;width:100%;}
#sidebar li{list-style-type:none;margin:5px;width:100%;padding:0;display:block;}

a:link, a:visited {color: rgb(91, 128, 178);text-decoration: none;}
 
table th {
	border-width: thin;
	padding: 4px;
	border-style: outset;
	border-color: gray;
	background-color: rgb(65, 118, 144);
}

table td {
	border-width: thin;
	padding: 4px;
	border-style: outset;
	border-color: gray;
}
.row1{background-color: rgb(250, 250, 250);}
.row2{background-color: rgb(210, 240, 230);}

/* Power state */
tr .on{background:#5f5;}
tr .off{background:#f55;}
tr .unknown{background:#ccc;}

footer{text-align:center; margin:2em 0 1em 0;}
footer p{font-size:0.9em;}